@using MyAspNetCoreApp.Web.ViewModels;
@{
    ViewData["Title"] = "GetById";
}
@model ProductViewModel

<a class="btn btn-outline-primary mb-2" asp-controller="products" asp-action="index">Ürünler Sayfasına Git</a>

<div class="card ">
    <div class="card-header bg-info ">
        Ürün (@Model.Name)
    </div>
    <div class="card-body">
        <p class="card-text">
            <div>Id : @Model.Id</div>
            <div>Açıklama : @Model.Description</div>
            <div>Fiyat : @Model.Price</div>
            <div>Stok : @Model.Stock</div>
            <div>Renk : @Model.Color</div>
            <div>İndirim Oranı : @Model.Discount</div>
            <div>
                @if (!String.IsNullOrEmpty(Model.ImagePath))
                {
                    <img src="~/images/@Model.ImagePath" />
                }
                else
                {
                            <img style="width:100px;" height="100px" ; src="~/images/noimage-300x225.jpg">

                }
               </div>
        </p>
    </div>
</div>
