@{
    ViewData["Title"] = "Index";
}

@model List<ProductViewModel>



<h1>Ürünler</h1>
@if (TempData["status"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["status"]
    </div>

}

<a class="btn btn-outline-primary" asp-controller="products" asp-action="add">Ürün Ekle</a>
<table id="table1" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Resim</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Color</th>
            <th width="150px">Yayınlansın mı?</th>
            <th></th>
            <th>İndirim Oranı</th>
            <th>Yayınlanma Tarihi</th>
            <th>Ürün Açıklaması</th>
            <th width="75px"></th>
            <th width="150px">İşlem</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img style="width:100px;" height="100px" ; src="~/images/@item.ImagePath">
                    }
                    else
                    {
                        <img style="width:100px;" height="100px" ; src="~/images/noimage-300x225.jpg">

                    }
                </td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td style="text-align:center">
                    @(item.IsPublish ? "Evet" : "Hayır")

                </td>
                <td></td>
                <td>@item.Discount</td>
                <td>@item.PublishDate</td>
                <td>
                    @if (item.Description.Length > 20)
                    {
                        @item.Description.Substring(0,20)

                        <text>...</text>
                    }
                    else
                    {
                        @item.Description
                    }
                </td>
                <td></td>
                <td>
                    <a class="btn btn-outline-danger" asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Sil</a>
                    <a class="btn btn-outline-success" asp-controller="products" asp-action="update" asp-route-id="@item.Id">Güncelle</a>
                    <a class="btn btn-outline-primary" asp-controller="products" asp-action="getbyid" asp-route-productid="@item.Id">Git</a>

                </td>

            </tr>
        }
    </tbody>

</table>
<a class="btn btn-outline-primary" asp-controller="Blog" asp-action="article" asp-route-name="makale-ismi" asp-route-id="2">makaleye git</a>
<a class="btn btn-outline-primary" asp-route="productPage" asp-route-page="1" asp-route-pagesize="3">1 sayfadan 3 ürün ver</a>
<a class="btn btn-outline-primary" asp-route="productPage" asp-route-page="2" asp-route-pagesize="3">2 sayfadan 3 ürün ver</a>

