@model List<StudentViewModel>

<table class="table table-striped table-hover" style="text-align:center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="student" asp-action="list" asp-route-id="@item.Id">Listele</a>

                    <a class="btn btn-outline-success" asp-controller="student" asp-action="update" asp-route-id="@item.Id">Güncelle</a>

                    <a class="btn btn-outline-danger" asp-controller="student" asp-action="remove" asp-route-id="@item.Id">Sil</a>

                </td>
            </tr>
        }

    </tbody>
</table>