@using static MyAspNetCoreApp.Web.Controllers.OrnekController;

@{
    ViewData["Title"] = "Index";

    var alert = " Bu Bir Uyarı Mesajıdır.";
}

@model List<Product2>; // küçük harfle model içerisine tipini belirterek sınıfı yazdırdık

<h1>Products</h1>
<hr />
    @foreach (var item in Model) //foreach ile dönerken Model yazınca içerisindeki dataya eriştik..
{
    <p>@item.Id - @item.Name</p>
}

<hr />

<h1>Muhammed Ferit Simsek</h1>
<img src="C:\UCC08\Images\8.png" class="img-thumbnail" alt="">
<hr />
<p>Ünvan : @ViewData["unvan"]</p>
<p>Kurs Ad : @ViewBag.name</p>

<hr />

<h1>Alınan Eğitimler</h1> 
@foreach (var item in ViewData["lesson"] as List<string>)
{
    <p>@item</p>
}

<hr />

<div>Günün Tarihi : @DateTime.Now.ToShortDateString()</div>

@{
    // Çok kod satırı yazıcaksak @{} içerisinde yazacağız..

    var datetime = DateTime.Now.ToShortDateString();
    var datetime2 = DateTime.Now.ToLongDateString();
    var message = "Merhabalar ";
    @: Bugünün Tarihi : @datetime
    <div>Mesaj : @message</div>
    <text>Bugünün Tarihi : @datetime2</text>
}

@if (message!="")
{
    <p>Messaj var</p>
}
else if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>Artık YIL</p>
}
else
{
    <h1>@alert</h1>
        <p>Mesaj YOK</p>
}

@for (int i = 1; i <= 10; i++)
{
    <p>@i. Gün</p>
}
<hr />

@foreach (var item in Enumerable.Range(1,10).ToList())
{
    <p>@item. Saat</p>
}



@*@{
    var name = ViewBag.name;
    <p>@name</p>
}

<p>@name</p>

<p>@ViewBag.name</p>

<hr />

<p> Yaşınız : @ViewData["age"]</p>
<hr />
<h1>Aile Üyeleri</h1>
@foreach (var item in ViewData["names"] as List<string>)
{
    <p>@item</p>
}
<hr />
<h1>Personel Bilgisi</h1>
<hr />
<p>Id = @ViewBag.person.Id</p>
<p>Name = @ViewBag.person.name</p>
<p>Age = @ViewBag.person.age</p>*@